{% extends "layout.html" %} {% block content %}
<br />

<div class="row">
  <div class="container" align="center" id="filering_buttons">
    <button type="button" class="btn btn-secondary btn-lg" id="All">All</button>
    <button type="button" class="btn tn-secondary btn-lg" id="1">1</button>
    <button type="button" class="btn tn-secondary btn-lg" id="2">2</button>
    <button type="button" class="btn tn-secondary btn-lg" id="3">3</button>
    <button type="button" class="btn tn-secondary btn-lg" id="4">4</button>
    <button type="button" class="btn tn-secondary btn-lg" id="5">5</button>
    <button type="button" class="btn tn-secondary btn-lg" id="6">6</button>
    <button type="button" class="btn tn-secondary btn-lg" id="7">7</button>
    <button type="button" class="btn tn-secondary btn-lg" id="8">8</button>
    <button type="button" class="btn tn-secondary btn-lg" id="9">9</button>
    <button type="button" class="btn tn-secondary btn-lg" id="10">10</button>
    <!-- <button type="button" class="btn btn-danger btn-lg">Exit</button> -->
  </div>
</div>
<p align="center"><small class="text-dark">Filter By Rating</small></p>
<!-- <br><br> -->

<div class="card-columns">
  {% for i in movies %}
  <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card" class="shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="{{i.poster}}" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title">{{i.name}}</h4>
        <p class="card-text">{{i.desc}}</p>
        <div style="overflow: hidden">
          <p class="card-text" style="float: left">
            <small class="text-muted">{{i.year}}</small>
          </p>
          <p class="card-text" style="float: right">
            <small class="text-muted"
              ><mark><strong>{{i.rating}}</strong></mark></small
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
